#!/bin/sh
# Spookeh Scaryjh Skellingtons Gitignore because it summoned a slap demon

# stackdumps no hell nah
*.exe.stackdump
**/*.exe.stackdump

# binaries
*.exe
**/*.exe

# bindings
bindings/*/

# docs
html/
latex/

# tools stuff
tools/*
!tools/README.md
!tools/myscript/
!/tools/gettools.*




# Explicit
./out